version: '3'
services:

  server:
    build: ./minitwit-web-app
    ports:
      - '15000:15000'

  legacy_tests:
    build:
      context: ./tests/legacy_tests
      dockerfile: pythontests.Dockerfile
    entrypoint: sh -c  "sleep 5 && python /tests/refactored_tests.py"

  legacy_api_tests:
    build:
      context: ./tests/legacy_api_tests
      dockerfile: pythontests.Dockerfile
    entrypoint: sh -c  "sleep 5 && python /tests/minitwit_sim_api_test.py"
    environment:
      - MT_BASEURL=http://server:15000

  tests:
    build: ./tests/go
    depends_on:
      - server
    command: go test
