<!DOCTYPE html>
<html>
<head>
  <title>Welcome MiniTwit</title>
  <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
  <div class="page">
    <h1>MiniTwitGo</h1>
    <div class="navigation">
      {{if .User}}
        <a href="{{url_for "timeline" ""}}">my timeline</a>
        <a href="{{url_for "public_timeline" ""}}">public timeline</a>
        <a href="{{url_for "logout" ""}}">logout {{.User.username}}</a>
      {{else}}
        <a href="{{url_for "public_timeline" ""}}">public timeline</a>
        <a href="{{url_for "register" ""}}">sign up</a>
        <a href="{{url_for "login" ""}}">sign in</a>
      {{end}}
    </div>
{{$user := .User}}
{{$followed := .Followed}}
    {{if eq .Req (print "/public")}}
      <h2>Public timeline</h2>
    {{else}}
      <h2>{{.Profileuser.username}}'s timeline</h2>
    {{end}}

    {{if .FlashMessages}}
      <div class="flashes">
        {{range .FlashMessages}}
          <div>{{.}}</div>
        {{end}}
      </div>
    {{end}}

    <div>
      {{if ne .Req (print "/public")}}
        </div>
        {{if eq .User.user_id .Profileuser.user_id}}
          <div class="twitbox">
            <h3>What's on your mind, {{.User.username}}?</h3>
            <form action="{{url_for "add_message" ""}}" method="POST">
              <p>
                <input type="text" name="text" size="60">
                <input type="submit" value="Share">
              </p>
            </form>
          </div>
        {{end}}
      {{end}}
    </div>
    
    <ul class="messages">
      {{range $fields := .Message}}
        <li>
          <img src="{{getavatar $fields.email 48}}" alt="{{$fields.username}}'s avatar">
          <strong>{{$fields.username}}</strong>
          {{$fields.text}}
          <small>&mdash; {{gettimestamp $fields.pub_date}}</small>
          <div class="followstatus">
            {{if eq $user.username $fields.username}}
              This is you!
            {{else if .Followed}}
              You are currently following this user
              
              <a class="unfollow" href="{{url_for "unfollow" (formatUsernameUrl $fields.username)}}">Unfollow user</a>
            {{else}}

              You are not yet following this user
              <a class="follow" href="{{url_for "follow" (formatUsernameUrl $fields.username)}}">Follow user</a>
            {{end}}
          </div>
        </li>
       
      {{end}}
    </ul>
  </div>

  <div class="footer">
    Minitwit - Go application
  </div>
</body>
</html>