version: '3'
services:
  minitwit_app:
    container_name: app
    image: ghcr.io/eagles-devops/app:latest
    restart: always
    ports:
      - '15000:15000'
    volumes:
      - ./sqlitedb-app/:/usr/src/app/sqlitedb/
    environment:
      - SQLITEPATH=/usr/src/app/sqlitedb/minitwit.db
    env_file:
      - ~/terraform.env
    labels:
      logging: "promtail"
      logging_tag: "app"

  minitwit_api:
    container_name: api
    image: ghcr.io/eagles-devops/api:latest
    restart: always
    ports:
      - '15001:15001'
    volumes:
      - ./sqlitedb-api/:/usr/src/app/sqlitedb/
    env_file:
      - ~/terraform.env
    labels:
      logging: "promtail"
      logging_tag: "api"

  watchtower:
    container_name: watchtower
    image: containrrr/watchtower
    restart: always
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    command: --interval 300
    labels:
      logging: "promtail"
      logging_tag: "watchtower"

  loki:
    container_name: loki 
    image: grafana/loki:latest
    volumes:
      - ./data/loki:/loki
      - ./config/loki.yml:/etc/loki/local-config.yaml
    # ports: DONT ADD TO PRODUCTION WILL EXPOSE TO PUBLIC
    #   - "3100:3100"
    command: -config.file=/etc/loki/local-config.yaml
    user: "0:0"
    networks:
      - loki-net
    labels:
      logging: "promtail"
      logging_tag: "loki"

  promtail:
    container_name: promtail
    image: grafana/promtail:latest
    volumes:
      - ./data/promtail/:/data/
      - ./config/promtail.yaml:/etc/promtail/docker-config.yaml
      - /var/lib/docker/containers:/var/lib/docker/containers:ro
      - /var/run/docker.sock:/var/run/docker.sock
    command: -config.file=/etc/promtail/docker-config.yaml
    user: "0:0"
    networks:
      - loki-net
    labels:
      logging: "promtail"
      logging_tag: "promtail"
    depends_on:
      - loki

  grafana:
    container_name: grafana 
    image: grafana/grafana:latest
    ports:
      - "3000:3000"
    volumes:
      - ./config/grafana-datasources.yml:/etc/grafana/provisioning/datasources/datasources.yaml
      - ./data/grafana:/var/lib/grafana
    env_file:
      - ~/terraform.env
    user: "0:0"
    networks:
      - loki-net
    labels:
      logging: "promtail"
      logging_tag: "grafana"
    depends_on:
      - loki

  prometheus:
    container_name: prometheus
    image: prom/prometheus
    volumes:
      - ./data/prometheus:/prometheus
      - ./config/prometheus.yml:/etc/prometheus/prometheus.yml
    # ports: DONT ADD TO PRODUCTION WILL EXPOSE TO PUBLIC
    #   - "9090:9090"
    user: "0:0"
    networks:
      - loki-net
      - default

  ### Postgres Database
  postgres:
    image: postgres:16.2-alpine3.19
    restart: always
    ports:
      - '5432:5432'
    command: -c 'max_connections=22'
    environment:
      POSTGRES_USER: minitwituser
      POSTGRES_PASSWORD: minitwitpw
      POSTGRES_DB: minitwit
  ### Postgres Database

networks:
  loki-net:
    driver: bridge
