<!DOCTYPE html>
<html>
<head>
  <title>Welcome MiniTwit</title>
<link rel="stylesheet" type="text/css" href="/static/style.css">
<div class=page>
  <h1>MiniTwitGo</h1>
  <div class=navigation>
    {{if .User}}
    <a href="{{url_for "timeline" ""}}">my timeline</a>
    <a href="{{url_for "public_timeline" ""}}">public timeline</a>
    <a href="{{url_for "logout" ""}}"> logout {{ .User.username }}</a>

    {{else}}
    <a href="{{url_for "public_timeline" ""}}">public timeline</a>
    <a href="{{url_for "register" ""}}">sign up</a>
    <a href="{{url_for "login" ""}}"> sign in</a>
    {{end}}


  </div>
  <div class="footer"></div>
</div>
  {{if not .User}}
  <h2>Public timeline</h2>
  {{else}}
  <h2>{{.User.username}}'s timeline</h2>
  {{end}}
  <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>

<body>
  {{if .USERID}}
  {{if eq .Req (print "/" (formatUsernameUrl .User.username))}}
  
  <div class = followstatus>
    {{if eq .USERID .User.user_id}}
    this is you!
    {{else if .Followed}}
    You are currently following this user
    <a class=unfollow href="{{url_for "unfollow" (formatUsernameUrl .User.username)}}"> Unfollow user</a>
    {{else}}
    You are not yet following this user
    <a class=follow href="{{url_for "follow" (formatUsernameUrl .User.username)}}"> follow user</a>
    {{end}}
    {{if eq .Req (print "/" (formatUsernameUrl .User.username))}}
    <div class="twitbox">
      <h3>whats on your mind {{.User.username}} </h3>
      <form action ="{{url_for "add_message" ""}}" method=POST>
    <p><input type=text name=text size=60>
        <input type=submit value="Share"></p>

      </form>
    </div>
    {{end}}
    {{end}}
    {{end}}
  </div>
    <ul class = messages>
  {{range $fields := .Message}}
  <li>
    <img src = "{{getavatar $fields.email 48 }}"><p>
      <strong> 
        {{$fields.username}}
      </strong>
      {{$fields.text}}
    <small>&mdash; {{(gettimestamp $fields.pub_date)}}</small>
          {{end}}
</ul>
</body>
</html>