<!DOCTYPE html>
<html>
<head>
  {{if not .User}}
  <h2>Public timeline</h2>
  {{else}}
  <h2>{{.User.username}}'s timeline</h2>
  {{end}}
  <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>

<body>
  <div>
    {{ if .FlashMessages }}
    <div id="flash-messages">
        {{ range .FlashMessages }}
            <div class="flash-message">{{ . }}</div>
        {{ end }}
    </div>
    {{ end }}
  {{if .USERID}}

  {{if eq .Req (print "/" (formatUsernameUrl .User.username))}}
  
  <div class = followstatus>
    {{if eq .USERID .User.user_id}}
    this is you!
    {{else if .Followed}}
    You are currently following this user
    <a class=unfollow href="{{url_for "unfollow" (formatUsernameUrl .User.username)}}"> Unfollow user</a>
    {{else}}
    You are not yet following this user
    <a class=follow href="{{url_for "follow" (formatUsernameUrl .User.username)}}"> follow user</a>
    {{end}}

    {{end}}
    {{end}}
  </div>
    <ul class = messages>
  {{range $fields := .Message}}
  <li>
    <img src = "{{getavatar $fields.email 48 }}"><p>
      <strong> 
        {{$fields.username}}
      </strong>
      {{$fields.text}}
    <small>&mdash; {{(gettimestamp $fields.pub_date)}}</small>
          {{end}}
</ul>
</body>
</html>