<!--The data is a map, we store the map in the $fields variable.
   to access a field use $fields.<fieldName>. fieldName corresponds to the name in the sql schema-->

<!DOCTYPE html>
<html>
<head>
  <title>Timeline</title>
  <link rel="stylesheet" type="text/css" href="/static/style.css">
  <link rel="icon" href="data:,">
</head>
<body>
    <ul class = messages>
  {{range $fields := .}}
  <li>
    <img src = "{{getavatar $fields.email 48 }}"><p>
      <strong> 
        {{$fields.username}}
      </strong>
      {{$fields.text}}
    <small>&mdash; {{(gettimestamp $fields.pub_date)}}</small>

    

  {{end}}
</ul>
</body>
</html>